*.csv
__pycache__
figures
*.json
.DS_Store
outputs
pippo.py
pippo2.py
pippo3.py
outputs_unsloth
outputs_unsloth_adult
outputs_unsloth_titanic
outputs_unsloth_titanic_refiner
outputs_unsloth_adult_refiner

.env